In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19,10000,Free,0,Everyone
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14,500000,Free,0,Everyone
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8,5000000,Free,0,Everyone
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25,50000000,Free,0,Teen
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2,100000,Free,0,Everyone

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10829 entries, 0 to 10828
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10829 non-null  object
 1   Category        10829 non-null  object
 2   Rating          10829 non-null  float64
 3   Reviews         10829 non-null  int64
 4   Size            10829 non-null  int64
 5   Installs        10829 non-null  int64
 6   Type            10829 non-null  object
 7   Price           10829 non-null  int64
 8   Content Rating  10829 non-null  object
dtypes: float64(1), int64(4), object(4)
memory usage: 761.5+ KB

In [7]:
df.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
dtype: int64

## 1) Data Analysis - Categorical (Unique)

In [10]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19,10000,Free,0,Everyone
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14,500000,Free,0,Everyone
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8,5000000,Free,0,Everyone
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25,50000000,Free,0,Teen
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2,100000,Free,0,Everyone

### 1.1) Number of Unique Categories

In [15]:
len(set(list(df['Category'])))

33

### 1.2) Name the cateogries

In [19]:
for i in set(list(df['Category'])):
    print(i)

EVENTS
HOUSE_AND_HOME
FINANCE
FOOD_AND_DRINK
PERSONALIZATION
PHOTOGRAPHY
LIBRARIES_AND_DEMO
SHOPPING
MAPS_AND_NAVIGATION
NEWS_AND_MAGAZINES
HEALTH_AND_FITNESS
EDUCATION
SPORTS
ART_AND_DESIGN
BEAUTY
PRODUCTIVITY
ENTERTAINMENT
TRAVEL_AND_LOCAL
GAME
DATING
SOCIAL
LIFESTYLE
MEDICAL
FAMILY
COMMUNICATION
VIDEO_PLAYERS
TOOLS
COMICS
PARENTING
BOOKS_AND_REFERENCE
WEATHER
BUSINESS
AUTO_AND_VEHICLES

### 1.3) Create a function to get the number of unique cateogries

In [25]:
def nunique(data):
    return len(set(list(data)))

nunique(df['Category'])

### 1.4) Create a fucntion to get the name of all categories

In [30]:
def unique(data):
    return list(set(list(data)))

unique(df['Content Rating'])

['Everyone',
 'Mature 17+',
 'Unrated',
 'Adults only 18+',
 'Teen',
 'Everyone 10+']

## 2) Analyse Classes - Frequency

In [31]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19,10000,Free,0,Everyone
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14,500000,Free,0,Everyone
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8,5000000,Free,0,Everyone
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25,50000000,Free,0,Teen
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2,100000,Free,0,Everyone

In [40]:
def freq(data, class_):

    c = 0
    for i in data:
        if (i == class_):
            c += 1        
    return c

In [44]:
freq(df['Content Rating'], 'Teen')

1208

In [47]:
nunique(df['App'])

9648

In [49]:
len(df) - nunique(df['App'])

1181

In [51]:
df['App'].describe()

count      10829
unique      9648
top       ROBLOX
freq           9
Name: App, dtype: object

## 3) Analyse Classes - Automatic Mode

In [53]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19,10000,Free,0,Everyone
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14,500000,Free,0,Everyone
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8,5000000,Free,0,Everyone
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25,50000000,Free,0,Teen
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2,100000,Free,0,Everyone

### 3.1) Naive Approach

In [56]:
unique(df['Content Rating'])

['Everyone',
 'Mature 17+',
 'Unrated',
 'Adults only 18+',
 'Teen',
 'Everyone 10+']

In [70]:
print('-'*35)
print("Everyone          :   " , freq(df['Content Rating'], 'Everyone'))
print("Mature 17+        :   " , freq(df['Content Rating'], 'Mature 17+'))
print("Unrated           :   " , freq(df['Content Rating'], 'Unrated'))
print("Adults only 18+   :   " , freq(df['Content Rating'], 'Adults only 18+'))
print("Teen              :   " , freq(df['Content Rating'], 'Teen'))
print("Everyone 10+      :   " , freq(df['Content Rating'], 'Everyone 10+'))
print('-'*35)

-----------------------------------
Everyone          :    8704
Mature 17+        :    499
Unrated           :    2
Adults only 18+   :    3
Teen              :    1208
Everyone 10+      :    413
-----------------------------------

### 3.2 ) Optimal Approach

In [82]:
for i in unique(df['Content Rating']):
    print(i, "  :  ", freq(df['Content Rating'], i))

Everyone   :   8704
Mature 17+   :   499
Unrated   :   2
Adults only 18+   :   3
Teen   :   1208
Everyone 10+   :   413

### 3.3) Function to get the frequency of each class automaticaly

In [105]:
def auto_freq(df, column_name):
    
    dct = {}
    for i in unique(df[column_name]):
        dct[i] = freq(df[column_name],i)
        
    return dct

In [107]:
auto_freq(df, 'Content Rating')

{'Everyone': 8704,
 'Mature 17+': 499,
 'Unrated': 2,
 'Adults only 18+': 3,
 'Teen': 1208,
 'Everyone 10+': 413}

In [108]:
auto_freq(df, 'Category')

{'EVENTS': 64,
 'HOUSE_AND_HOME': 88,
 'FINANCE': 366,
 'FOOD_AND_DRINK': 127,
 'PERSONALIZATION': 390,
 'PHOTOGRAPHY': 335,
 'LIBRARIES_AND_DEMO': 84,
 'SHOPPING': 260,
 'MAPS_AND_NAVIGATION': 137,
 'NEWS_AND_MAGAZINES': 283,
 'HEALTH_AND_FITNESS': 341,
 'EDUCATION': 156,
 'SPORTS': 384,
 'ART_AND_DESIGN': 64,
 'BEAUTY': 53,
 'PRODUCTIVITY': 424,
 'ENTERTAINMENT': 149,
 'TRAVEL_AND_LOCAL': 258,
 'GAME': 1144,
 'DATING': 234,
 'SOCIAL': 295,
 'LIFESTYLE': 382,
 'MEDICAL': 463,
 'FAMILY': 1968,
 'COMMUNICATION': 387,
 'VIDEO_PLAYERS': 175,
 'TOOLS': 841,
 'COMICS': 60,
 'PARENTING': 60,
 'BOOKS_AND_REFERENCE': 230,
 'WEATHER': 82,
 'BUSINESS': 460,
 'AUTO_AND_VEHICLES': 85}

In [111]:
auto_freq(df, 'Type')

{'Paid': 797, 'Free': 10032}

In [109]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19,10000,Free,0,Everyone
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14,500000,Free,0,Everyone
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8,5000000,Free,0,Everyone
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25,50000000,Free,0,Teen
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2,100000,Free,0,Everyone