In [1]:
import pandas as pd

import matplotlib.pyplot as plt

df = pd.read_csv('Product.csv')
df.head()

,Name,Price,Orders,Quanitity,Max_quantity_per_user,Amount
0,Wired Headphones,11.99,18882,20557,4,246478
1,Bose SoundSport Headphones,99.99,13325,13457,3,1345565
2,iPhone,700.00,6842,6849,2,4794300
3,AA Batteries (4-pack),3.84,20577,27635,7,106118
4,34in Ultrawide Monitor,379.99,6181,6199,2,2355558

In [2]:
def data_frame(df, x1, x2):
    
    x = list(df[x1])
    y = list(df[x2])

    data = []
    
    for i in range(len(x)):
        data.append([x[i],y[i]])

    df_ = pd.DataFrame(data, columns = [x1,x2])

    return df_

### 1.1) Name and Order Analysis

### 1.2) Name and Max Quantity Per User(Column) Analysis

### 1.3) Name and Amount Analysis

### 1.4) Create V2 of Product.csv with Additional Information (Optional)