## 1. Lists

In [1]:
# Eng , Hin, Sci, Mth

data = [[1, 'Prakash',60,70,85,95],
        [2, 'Ashish' ,65,77,75,93],
        [3, 'Anshika',68,72,85,89],
        [4, 'Ayushi' ,62,74,90,94]]

In [2]:
data

[[1, 'Prakash', 60, 70, 85, 95],
 [2, 'Ashish', 65, 77, 75, 93],
 [3, 'Anshika', 68, 72, 85, 89],
 [4, 'Ayushi', 62, 74, 90, 94]]

## 2. Dictionaries

In [3]:
dct = { 1 : {'name': 'Prakash' ,'eng' : 60, 'hin' : 70,'sci' : 85,'mth' : 95},
        2 : {'name': 'Ashish'  ,'eng' : 65, 'hin' : 77,'sci' : 75,'mth' : 93},
        3 : {'name': 'Anshika' ,'eng' : 68, 'hin' : 72,'sci' : 85,'mth' : 89},
        4 : {'name': 'Ayushi'  ,'eng' : 62, 'hin' : 74,'sci' : 90,'mth' : 94}}

In [4]:
dct[1]['name']

'Prakash'

### Q1) Student Details based on their Roll No.

In [5]:
roll_no = int(input('Enter the roll no. '))

print('-'*20)
print('Name     : ', dct[roll_no]['name'])
print('Hindi    : ', dct[roll_no]['hin'])
print('English  : ', dct[roll_no]['eng'])
print('Math     : ', dct[roll_no]['mth'])
print('Science  : ', dct[roll_no]['sci'])
print('-'*20)

Enter the roll no. 2
--------------------
Name     :  Ashish
Hindi    :  77
English  :  65
Math     :  93
Science  :  75
--------------------

### Q2) Student Details based on their Roll No. including Average and Total Marks

In [6]:
roll_no = int(input('Enter the roll no. '))

print('-'*20)
print('Name     : ', dct[roll_no]['name'])
print('Hindi    : ', dct[roll_no]['hin'])
print('English  : ', dct[roll_no]['eng'])
print('Math     : ', dct[roll_no]['mth'])
print('Science  : ', dct[roll_no]['sci'])
print('-'*20)

scored =  dct[roll_no]['hin'] + dct[roll_no]['eng'] + dct[roll_no]['mth'] + dct[roll_no]['sci']

print('Total    : ',scored)
print('-'*20)
print('Average  : ',(scored/400)*100)
print('-'*20)

Enter the roll no. 2
--------------------
Name     :  Ashish
Hindi    :  77
English  :  65
Math     :  93
Science  :  75
--------------------
Total    :  310
--------------------
Average  :  77.5
--------------------

### Q3) Average and Top Marks in English

In [7]:
eng = []

for key in dct.keys():
    eng.append(dct[key]['hin'])
    
print("Maximum  : ",max(eng))
print("Average  : ",sum(eng)/len(eng))

Maximum  :  77
Average  :  73.25

### Q4)  Who has scored most marks in English

In [8]:
eng = []

for key in dct.keys():
    eng.append(dct[key]['eng'])
    
marks = max(eng)

for key in dct.keys():
    if (dct[key]['eng'] == marks):
          print(dct[key]['name'])

Anshika

### Q4)  Who has scored most marks in Science

In [9]:
eng = []

for key in dct.keys():
    eng.append(dct[key]['sci'])
    
marks = max(eng)

for key in dct.keys():
    if (dct[key]['sci'] == marks):
          print(dct[key]['name'])

Ayushi

### Finding Student details based on Name

In [10]:
name = input('Enter the name :')

for key in dct.keys():
    if(dct[key]['name'].lower() == name.lower()):
        
        print('-'*20)
        print('Roll No  : ',key)
        print('Hindi    : ', dct[key]['hin'])
        print('English  : ', dct[key]['eng'])
        print('Math     : ', dct[key]['mth'])
        print('Science  : ', dct[key]['sci'])
        print('-'*20)

Enter the name :Ashish
--------------------
Roll No  :  2
Hindi    :  77
English  :  65
Math     :  93
Science  :  75
--------------------