## 1. Lists

In [23]:
ch = int(input("Enter the month: "))

Enter the month: 10

In [24]:
if (ch == 1):
    print('January')
    
if (ch == 2):
    print('Feb')

if (ch == 3):
    print('March')

In [25]:
month_numb = [1,2,3,4,5,6,7,8,9,10,11,12]
month_name = ['January','February','March','April','May','June','July','August', 'September', 'October' ,'November', 'December']

In [31]:
ch = int(input("Enter the month: "))

for i in range(len(month_numb)):
    if (ch == i):
        print(month_name[i-1])

Enter the month: 10
October

In [35]:
ch = int(input("Enter the month: "))

print(month_name[ch-1])

Enter the month: 3
March

## 2. Dictionary

In [44]:
dct = {1 : 'January' , 2 : 'February', 3 : 'March', 4 : 'April', 5 : 'May', 6 : 'June', 7 : 'July', 8  : 'August', 9  : 'September', 10 : 'October', 11 : 'November', 12 : 'December'}

In [45]:
dct

{1: 'January',
 2: 'February',
 3: 'March',
 4: 'April',
 5: 'May',
 6: 'June',
 7: 'July',
 8: 'August',
 9: 'September',
 10: 'October',
 11: 'November',
 12: 'December'}

In [56]:
ch = int(input("Enter the month: "))

dct[ch]

Enter the month: 5

'May'

In [63]:
dct.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])

In [64]:
dct.values()

dict_values(['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'])

In [69]:
for key in dct.keys():
    print(key , "-|-",dct[key])

1 -|- January
2 -|- February
3 -|- March
4 -|- April
5 -|- May
6 -|- June
7 -|- July
8 -|- August
9 -|- September
10 -|- October
11 -|- November
12 -|- December

In [71]:
del dct[2]

In [72]:
dct

{1: 'January',
 3: 'March',
 4: 'April',
 5: 'May',
 6: 'June',
 7: 'July',
 8: 'August',
 9: 'September',
 10: 'October',
 11: 'November',
 12: 'December'}

In [73]:
dct[2] = 'February'

In [74]:
dct

{1: 'January',
 3: 'March',
 4: 'April',
 5: 'May',
 6: 'June',
 7: 'July',
 8: 'August',
 9: 'September',
 10: 'October',
 11: 'November',
 12: 'December',
 2: 'February'}

In [79]:
dct[4]

'April'

In [52]:
data = [[1, 'Prakash',60,70,85,95],
        [2, 'Ashish' ,65,77,75,93],
        [3, 'Anshika',68,72,85,89],
        [4, 'Ayushi' ,62,74,90,94]]

In [53]:
data

[[1, 'Prakash', 60, 70, 85, 95],
 [2, 'Ashish', 65, 77, 75, 93],
 [3, 'Anshika', 68, 72, 85, 89],
 [4, 'Ayushi', 62, 74, 90, 94]]

### Q1) Student Details based on their Roll No.

Enter the roll no. 2
-------------------------
Name    :  Ashish
Hindi   :  65
English :  77
Maths   :  75
Science :  93
-------------------------

### Q2) Student Details based on their Roll No. including Average and Total Marks

Enter the roll no. 2
-------------------------
Name    :  Ashish
Hindi   :  65
English :  77
Maths   :  75
Science :  93
-------------------------
Total   :  310
-------------------------
Average :  77.5
-------------------------

### Q3) Average and Top Marks in English

Average :  73.25
Maximum :  77

### Q4)  Who has scored most marks in English

Ashish

### Q4)  Who has scored most marks in Science

Prakash

### Finding Student details based on Name

Enter the name Ashish
-------------------------
Roll No :  2
Hindi   :  65
English :  77
Maths   :  75
Science :  93
-------------------------