## 1. List to Dictionary

In [34]:
data = [[1, 'Prakash',60,70,85,95],
        [2, 'Ashish' ,65,77,75,93],
        [3, 'Anshika',68,72,85,89],
        [4, 'Ayushi' ,62,74,90,94],
        [5, 'Lanka'  ,55,56,56,67]]

In [35]:
dct = {}

for i in data:
    
    student = {}    
    student['name'] = i[1]
    student['eng']  = i[2]
    student['hin']  = i[3]
    student['sci']  = i[4]
    student['mth']  = i[5]
    
    dct[i[0]] = student
    
dct

{1: {'name': 'Prakash', 'eng': 60, 'hin': 70, 'sci': 85, 'mth': 95},
 2: {'name': 'Ashish', 'eng': 65, 'hin': 77, 'sci': 75, 'mth': 93},
 3: {'name': 'Anshika', 'eng': 68, 'hin': 72, 'sci': 85, 'mth': 89},
 4: {'name': 'Ayushi', 'eng': 62, 'hin': 74, 'sci': 90, 'mth': 94},
 5: {'name': 'Lanka', 'eng': 55, 'hin': 56, 'sci': 56, 'mth': 67}}

## 2. Dictionaries

In [39]:
dct = { 1 : {'name': 'Prakash' ,'eng' : 60, 'hin' : 70,'sci' : 85,'mth' : 95},
        2 : {'name': 'Ashish'  ,'eng' : 65, 'hin' : 77,'sci' : 75,'mth' : 93},
        3 : {'name': 'Anshika' ,'eng' : 68, 'hin' : 72,'sci' : 85,'mth' : 89},
        4 : {'name': 'Ayushi'  ,'eng' : 62, 'hin' : 74,'sci' : 90,'mth' : 94}}

In [45]:
data = []

for roll_no in dct.keys():
    
    data.append([roll_no, dct[roll_no]['name'], dct[roll_no]['eng'],dct[roll_no]['hin'],dct[roll_no]['sci'],dct[roll_no]['mth']])

In [46]:
data

[[1, 'Prakash', 60, 70, 85, 95],
 [2, 'Ashish', 65, 77, 75, 93],
 [3, 'Anshika', 68, 72, 85, 89],
 [4, 'Ayushi', 62, 74, 90, 94]]