In [52]:
# Roll No.  - 0
# Name      - 1
# Hindi     - 2
# English   - 3
# Math      - 4
# Science   - 5

data = [[1, 'Prakash',60,70,85,95],
        [2, 'Ashish' ,65,77,75,93],
        [3, 'Anshika',68,72,85,89],
        [4, 'Ayushi' ,62,74,90,94]]

In [53]:
data

[[1, 'Prakash', 60, 70, 85, 95],
 [2, 'Ashish', 65, 77, 75, 93],
 [3, 'Anshika', 68, 72, 85, 89],
 [4, 'Ayushi', 62, 74, 90, 94]]

### Q1) Student Details based on their Roll No.

In [60]:
roll_no = int(input('Enter the roll no. '))

for student in data:
    if (student[0] == roll_no):
        print('-'*25)
        print("Name    : ",student[1])
        print("Hindi   : ",student[2])
        print("English : ",student[3])
        print("Maths   : ",student[4])
        print("Science : ",student[5])
        print('-'*25)

Enter the roll no. 2
-------------------------
Name    :  Ashish
Hindi   :  65
English :  77
Maths   :  75
Science :  93
-------------------------

### Q2) Student Details based on their Roll No. including Average and Total Marks

In [69]:
roll_no = int(input('Enter the roll no. '))

for student in data:
    if (student[0] == roll_no):
        print('-'*25)
        print("Name    : ",student[1])
        print("Hindi   : ",student[2])
        print("English : ",student[3])
        print("Maths   : ",student[4])
        print("Science : ",student[5])
        print('-'*25)
        print("Total   : ",sum(student[2:]))
        print('-'*25)
        print("Average : ",sum(student[2:])/len(student[2:])) 
        print('-'*25)

Enter the roll no. 2
-------------------------
Name    :  Ashish
Hindi   :  65
English :  77
Maths   :  75
Science :  93
-------------------------
Total   :  310
-------------------------
Average :  77.5
-------------------------

### Q3) Average and Top Marks in English

In [75]:
eng = []

for i in data:
    eng.append(i[3])

print("Average : ", sum(eng)/len(eng))
print("Maximum : ", max(eng))

Average :  73.25
Maximum :  77

### Q4)  Who has scored most marks in English

In [86]:
eng = []

for i in data:
    eng.append(i[3])

for i in data:
    if(i[3] == max(eng)):
        print(i[1])

Ashish

### Q4)  Who has scored most marks in Science

In [95]:
sci = []

for i in data:
    sci.append(i[5])

for i in data:
    if(i[5] == max(sci)):
        print(i[1])

Prakash

### Finding Student details based on Name

In [96]:
name = str(input('Enter the name '))

for student in data:
    if (student[1] == name):
        print('-'*25)
        print("Roll No : ",student[0])
        print("Hindi   : ",student[2])
        print("English : ",student[3])
        print("Maths   : ",student[4])
        print("Science : ",student[5])
        print('-'*25)

Enter the name Ashish
-------------------------
Roll No :  2
Hindi   :  65
English :  77
Maths   :  75
Science :  93
-------------------------