In [1]:
import numpy as np
import pandas as pd

In [119]:
df = pd.read_csv('Marks.csv')

In [7]:
data = list(df['eng'])

## 1. Mean

In [18]:
def mean(data):

    total = 0
    for i in data:
        total = total + i
        
    return int(total/ len(data))

In [29]:
print("Eng :", mean(list(df['eng'])))
print("Hin :", mean(list(df['hin'])))
print("Sci :", mean(list(df['sci'])))
print("Math:", mean(list(df['mth'])))

Eng : 63
Hin : 60
Sci : 70
Math: 63

## 2. Median

In [32]:
data

[45, 65, 65, 65, 88, 65, 45, 55, 66, 66, 77, 98, 22]

In [33]:
data = list(np.sort(data))

In [34]:
data

[22, 45, 45, 55, 65, 65, 65, 65, 66, 66, 77, 88, 98]

In [38]:
data[len(data)//2]

65

In [47]:
lst = [1,2,3,4,5]

In [48]:
lst

[1, 2, 3, 4, 5]

In [66]:
def median(lst):
    lst = list(np.sort(lst))
    if (len(lst) % 2 == 0):
        return (lst[len(lst)//2 - 1] + lst[len(lst)//2])/2
    else:
        return lst[len(lst)//2]

In [70]:
print("Eng :", median(list(df['eng'])))
print("Hin :", median(list(df['hin'])))
print("Sci :", median(list(df['sci'])))
print("Math:", median(list(df['mth'])))

Eng : 65
Hin : 66
Sci : 78
Math: 66

## 3.1) Mode

In [118]:
def mode(lst):

    frq = []
    for i in set(lst):
        frq.append([i,lst.count(i)])

    df_pr = pd.DataFrame(frq, columns = ['number','freq'])
    
    return df_pr.sort_values(by = 'freq', ascending = False).head(1).values[0][0]

In [120]:
print("Eng :", mode(list(df['eng'])))
print("Hin :", mode(list(df['hin'])))
print("Sci :", mode(list(df['sci'])))
print("Math:", mode(list(df['mth'])))

Eng : 65
Hin : 66
Sci : 45
Math: 76

## 3.2) Mode (using Dictionaries)

In [184]:
def mode_(lst):
    
    dct = {}

    for i in lst:
        if (i not in dct.keys()):
            dct[i] = 1    
        else:
            dct[i] = dct[i] + 1

    num = dct.keys()
    freq = dct.values()

    df_pr = pd.DataFrame([list(num),list(freq)])
    
    return df_pr.T.sort_values(by = 1, ascending = False).head(1).values[0][0]

In [187]:
print("Eng :", mode_(list(df['eng'])))
print("Hin :", mode_(list(df['hin'])))
print("Sci :", mode_(list(df['sci'])))
print("Math:", mode_(list(df['mth'])))

Eng : 65
Hin : 45
Sci : 88
Math: 76