## 1. Loading the JSON file

In [2]:
fd = open('JS.json','r')
txt = fd.read()
fd.close()

## 2. Convert String to Dictionary

In [8]:
import json

dct = json.loads(txt)

## 3. Data Walkthrough

In [9]:
dct.keys()

dict_keys(['attributions', 'data'])

In [18]:
len(dct['data'])

34244

In [20]:
dct['data'][0]

{'id': 'KS120P86XDXZJT3B7KVJ',
 'infoUrl': 'https://skills.emsidata.com/skills/KS120P86XDXZJT3B7KVJ',
 'name': '(American Society For Quality) ASQ Certified',
 'type': {'id': 'ST3', 'name': 'Certification'}}

In [32]:
print("ID       : " , dct['data'][0]['id'])
print("URL      : " , dct['data'][0]['infoUrl'])
print("Name     : " , dct['data'][0]['name'])
print("TypeID   : " , dct['data'][0]['type']['id'])
print("TypeName : " , dct['data'][0]['type']['name'])

ID       :  KS120P86XDXZJT3B7KVJ
URL      :  https://skills.emsidata.com/skills/KS120P86XDXZJT3B7KVJ
Name     :  (American Society For Quality) ASQ Certified
TypeID   :  ST3
TypeName :  Certification

### 4. Convert Dictionary to List (NoSQL to SQL)

In [43]:
data = []

for i in dct['data']:
    data.append([i['id'], i['infoUrl'], i['name'], i['type']['id'], i['type']['name']])

### 5. Converting Multi-dimensional list to DataFrame

In [46]:
import pandas as pd

df = pd.DataFrame(data, columns = ['id', 'url', 'name', 'type_id', 'type_name'])

In [47]:
df.head(

,id,url,name,type_id,type_name
0,KS120P86XDXZJT3B7KVJ,https://skills.emsidata.com/skills/KS120P86XDX...,(American Society For Quality) ASQ Certified,ST3,Certification
1,KS126XS6CQCFGC3NG79X,https://skills.emsidata.com/skills/KS126XS6CQC...,.NET Assemblies,ST1,Specialized Skill
2,ES50D03AC9CFC1A0BC93,https://skills.emsidata.com/skills/ES50D03AC9C...,.NET Development,ST1,Specialized Skill
3,KS1200B62W5ZF38RJ7TD,https://skills.emsidata.com/skills/KS1200B62W5...,.NET Framework,ST1,Specialized Skill
4,KS126XW78QJCF4TRV2X7,https://skills.emsidata.com/skills/KS126XW78QJ...,.NET Framework 1,ST1,Specialized Skill

### 6. Checking Null values in DataFrame

In [49]:
df.isnull().sum()

id           0
url          0
name         0
type_id      0
type_name    0
dtype: int64

### 7. Saving CSV File

In [ ]:
df.to_csv('data.csv', index = False)

### 8. Select only Name column in dataset

In [62]:
final = []

for i in dct['data']:
    
    data = {}    
    data['name'] = i['name']
    
    final.append(data)

In [71]:
final[:10]

[{'name': '(American Society For Quality) ASQ Certified'},
 {'name': '.NET Assemblies'},
 {'name': '.NET Development'},
 {'name': '.NET Framework'},
 {'name': '.NET Framework 1'},
 {'name': '.NET Framework 3'},
 {'name': '.NET Framework 4'},
 {'name': '.NET Reflector'},
 {'name': '.NET Remoting'},
 {'name': '.htaccess Files'}]

In [67]:
dct['attributions']

[{'name': 'Wikipedia',
  'text': 'Wikipedia extracts are distributed under the CC BY-SA license (https://creativecommons.org/licenses/by-sa/3.0/)'}]

In [69]:
dct['data'] = final

### 9. Checking Final Dictionary

In [73]:
dct.keys()

dict_keys(['attributions', 'data'])

In [77]:
dct['attributions']

[{'name': 'Wikipedia',
  'text': 'Wikipedia extracts are distributed under the CC BY-SA license (https://creativecommons.org/licenses/by-sa/3.0/)'}]

### 10. Converting Dictionary to JSON

In [78]:
txt = json.dumps(dct)

In [79]:
type(txt)

str

In [80]:
len(txt)

1124830

In [83]:
txt[:100]

'{"attributions": [{"name": "Wikipedia", "text": "Wikipedia extracts are distributed under the CC BY-'

In [84]:
fd = open('JSON.json','w')

fd.write(txt)

fd.close()