In [32]:
import pandas as pd

df = pd.read_csv('v2.csv')
df.isnull().sum()

title           0
sub_title    2262
author          0
author_id       0
date_time       0
size            6
upvotes         0
rating          0
views           4
downloads     190
notebooks    1849
topics       1394
link            0
dtype: int64

## 1) Removing Null Values

In [33]:
del df['sub_title']
del df['notebooks']
del df['topics']

df.isnull().sum()

title          0
author         0
author_id      0
date_time      0
size           6
upvotes        0
rating         0
views          4
downloads    190
link           0
dtype: int64

In [34]:
df = df.dropna()

df.isnull().sum()

title        0
author       0
author_id    0
date_time    0
size         0
upvotes      0
rating       0
views        0
downloads    0
link         0
dtype: int64

In [26]:
df.head()

,title,author,author_id,date_time,size,upvotes,rating,views,downloads,link
0,Wine Quality Dataset,M Yasser H,/yasserh,Sun Jan 16 2022 00:45:11,78 kB,290,10.0,"45,700","7,599",https://www.kaggle.com/yasserh/wine-quality-da...
1,Pistachio Dataset,Murat KOKLU,/mkoklu42,Sat Feb 12 2022 02:36:50,4 MB,505,7.5,"1,096",63,https://www.kaggle.com/mkoklu42/pistachio-dataset
2,Netflix subscription fee in different countries,Prasert Kanawattanachai,/prasertk,Sat Jan 15 2022 12:36:09,6 kB,174,10.0,"29,519","5,845",https://www.kaggle.com/prasertk/netflix-subscr...
3,Height of Male and Female by Country 2022,Majyhain,/majyhain,Wed Feb 02 2022 06:10:19,8 kB,94,10.0,"13,872","3,032",https://www.kaggle.com/majyhain/height-of-male...
4,TED Talks,Ashish Jangra,/ashishjangra27,Wed Feb 23 2022 20:46:08,864 kB,26,10.0,"3,468",590,https://www.kaggle.com/ashishjangra27/ted-talks

In [36]:
df.to_csv('kaggel.csv', index = False)

## 2) Data Preprocessing

In [51]:
views = []

for i in df['views']:
    views.append(int(i.replace(',','')))
    
df['views'] = views

In [54]:
downloads = []

for i in df['downloads']:
    downloads.append(int(i.replace(',','')))
    
df['downloads'] = downloads

In [55]:
df.head()

,title,author,author_id,date_time,size,upvotes,rating,views,downloads,link
0,Wine Quality Dataset,M Yasser H,/yasserh,Sun Jan 16 2022 00:45:11,78 kB,290,10.0,45700,7599,https://www.kaggle.com/yasserh/wine-quality-da...
1,Pistachio Dataset,Murat KOKLU,/mkoklu42,Sat Feb 12 2022 02:36:50,4 MB,505,7.5,1096,63,https://www.kaggle.com/mkoklu42/pistachio-dataset
2,Netflix subscription fee in different countries,Prasert Kanawattanachai,/prasertk,Sat Jan 15 2022 12:36:09,6 kB,174,10.0,29519,5845,https://www.kaggle.com/prasertk/netflix-subscr...
3,Height of Male and Female by Country 2022,Majyhain,/majyhain,Wed Feb 02 2022 06:10:19,8 kB,94,10.0,13872,3032,https://www.kaggle.com/majyhain/height-of-male...
4,TED Talks,Ashish Jangra,/ashishjangra27,Wed Feb 23 2022 20:46:08,864 kB,26,10.0,3468,590,https://www.kaggle.com/ashishjangra27/ted-talks

In [79]:
size = []

for i in df['size']:
    
    if(i[-2:] == 'kB'):
        size.append(1)
        
    elif(i[-2:] == 'MB'):
        size.append(int(i[:-3]))
        
    elif(i[-2:] == 'GB'):
        size.append(int(i[:-3]) * 1024)
    
    else:
        size.append(1)
        
df['size'] = size

In [82]:
df.to_csv('kaggel.csv', index = False)